// text centering
.u-center-text { text-align: center !important; }

// margin bottom
.u-margin-bottom-big { margin-bottom: 8rem !important; }
.u-margin-bottom-medium { margin-bottom: 4rem !important; }
.u-margin-bottom-small { margin-bottom: 1.5rem !important; }

// margin top
.u-margin-top-huge { margin-top: 10rem !important; }
.u-margin-top-big { margin-top: 8rem !important; }
.u-margin-top-medium { margin-top: 3.5rem !important; }
.u-margin-top-small { margin-top: 1.5rem !important; }

// blur for navigation
.blur >:not(#noBlur) { filter: blur(4px) !important; }

// light mode 
.light {
    --color-primary: #{$color-grey-light};
    --color-secondary: #{$color-grey-light};
    --color-tertiary: #{$color-tertiary};
    --color-tertiary-music: #{$color-grey-light};
    --color-tertiary-hex: #{$color-tertiary-hex};
    --color-tertiary-invert: #{$color-tertiary-invert};

    --color-grey-light: #{$color-primary};
    --color-grey-light-2: #{$color-primary};
    --color-grey-dark: #{$color-grey-dark};
    --color-grey-dark-2: #{$color-grey-dark-2};
    --color-grey-dark-3: #{$color-secondary};
    --color-white: #{$color-white};
    --color-black: #{$color-black};
}