// Colors
$color-primary: rgb(34, 40, 49);

$color-secondary: rgb(48, 71, 94);

$color-tertiary: rgb(240, 84, 84);
$color-tertiary-music: rgb(240, 84, 84);
$color-tertiary-hex: #F05454;
$color-tertiary-invert: rgb(67, 232, 168);

$color-grey-light: rgb(232, 232, 232);
$color-grey-light-2: rgb(192, 192, 192);
$color-grey-dark: rgb(119, 119, 119);
$color-grey-dark-2: rgb(51, 51, 51);
$color-grey-dark-3: rgb(111, 121, 132);
$color-white: rgb(255, 255, 255);
$color-black: rgb(0, 0, 0);

// Font
$default-font-size: 1.6rem;

// Grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;